* {
  padding: 0;
  box-sizing: border-box;
}
*,
body {
  margin: 0;
}
body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background: #908f8c;
  display: flex;
  justify-content: center;
  font-size: medium;
}
.container {
  width: 750px;
  height: 400px;
  position: relative;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 15px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

h2 {
  font-weight: 400;
  margin-top: 25px;
  font-size: x-large;
}

h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: large;
}

button {
  font-size: larger;
  color: #ffffff;
  height: 40px;
  border-radius: 10px;
  width: 250px;
  border: 1px solid #06820e;
  background-color: #18d43de1;
  margin-top: 25px;
  position: relative;
}

.popover {
  position: absolute;
  padding: 5px 10px;
  width: 200px;
  background: #bbe6c4e1;
  box-shadow: 0 5px 20px 0 #0000003d;
  z-index: 999;
}
